.image{
  width: 20%;
  border-radius: 100% !important;
  overflow: hidden;
  padding: 10px;
}
.expand-wrapper {
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  height: auto;
}
.collapsed {
  max-height: 0 !important;
}
.orderButton {
  position: fixed;
  left: 0;
  bottom: 10px;
  right: 0;
  --background: var(--ion-color-sa-pink);
}
.month {
  color: var(--ion-color-sa-green);
  padding: 5px 20px;
  font-weight: bold;
}

.div{
  display: flex;
  align-items: center;
  overflow: hidden
}
