<ion-header>
  <ion-toolbar>
    <ion-title>Bestelldatum sichern</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input class="month" [readonly]="true" [(ngModel)]="dateString"></ion-input>
      <calendar
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              [showEventDetail] = "false"
              [markDisabled]="markDisabled"
              (onTitleChanged)="onViewTitleChanged()"
              (onTimeSelected)="onTimeSelected($event)"
              step="30"
              [startingDayMonth]="1">

    </calendar>
    <div class="div">
      <p >Abholzeitpukt:</p>
      <ion-datetime  value="{{time}}" display-format="HH:mm" min="08:00" max="17:00" (ionChange)="setSelectedDate($event)"></ion-datetime>
    </div>

    <div class="center" style="width:100%">
      <ion-button class="orderButton" (click)="order()">Bestellen</ion-button>
    </div>
  </div>
</ion-content>
