<app-sa-navigation selectedIndex="2"></app-sa-navigation>

<ion-header>
  <ion-toolbar class="backColor">
    <ion-title>Social Media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-label>Besucht uns auf unseren anderen Social-Media Accounts, wo wir ebenfalls regelmäßig Neues posten!</ion-label>
  </ion-card-content>

  <ion-card-content id="logos">
    <ion-icon name="logo-facebook" color="primary" size="large" (click)="click('facebook')"></ion-icon>
    <ion-icon name="globe" size="large"  (click)="click('website')" class="websiteClass"></ion-icon>
    <ion-icon name="logo-youtube" size="large" (click)="click('videos')" class="youtubeClass"></ion-icon>
  </ion-card-content>
</ion-content>

