<ion-header>
  <ion-toolbar>
    <ion-title>Produkte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="information">
    <ion-list>
      <ion-tab-button *ngFor="let prod of (products | async)">
        <ion-card (click)="openModal(prod)">
          <ion-img *ngIf="prod.image" src="https://speckalm.htl-perg.ac.at/r/storage/images/{{prod.image.savedFileName}}?{{globalService.getToken()}}"></ion-img>
          <ion-card-content>
            {{prod.name}}
          </ion-card-content>
        </ion-card>
      </ion-tab-button>
    </ion-list>
  </div>
</ion-content>
