@media screen and (min-width: 700px) {
  ion-label {
    font-size:1.8rem;
  }
  ion-title{
    font-size:2.5rem;
  }
  ion-card-title{
    font-size: 2rem;
  }
  ion-datetime{
    font-size:1.5rem;
  }
  ion-icon{
    width: 40px;
    height: 40px;
  }
}

.backColor {
  --background: var(--ion-color-sa-dark);
}

ion-title{
  color: white;
  text-align: center;
}
.cardTitle{
  font-size: large;
  color: white;
}
