<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="clicked()">
    <ion-img src="../../../assets/img/News/logoo.jpg"></ion-img>

    <ion-card-header>
      <ion-card-title>News</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>
        blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
      </ion-label>
    </ion-card-content>

  </ion-card>


</ion-content>
