<ion-header>
  <ion-toolbar class="backColor">
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="clicked(item)" *ngFor="let item of items">
    <ion-img></ion-img>

    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>
        {{item.description}}
      </ion-label>
    </ion-card-content>

  </ion-card>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
