@import "../online-store.page";
ion-title{
  color: var(--ion-color-sa-green);
  font-weight: bold;
}
ion-card{
  border-radius: 30px;
}
ion-card-content {
  color: var(--ion-color-sa-pink);
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
}