<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="information">
    <ion-list>
      <ion-tab-button *ngFor="let cat of (results | async)" (click)='openArticlesWithService(cat.id,cat)' tab="articles/{{cat.id}}">
        <ion-card>
          <ion-img *ngIf="cat.image" src="https://speckalm.htl-perg.ac.at/r/storage/images/{{cat.image.savedFileName}}?{{dataService.token}}"></ion-img>
          <ion-card-content>
            {{cat.name}}
          </ion-card-content>
        </ion-card>
      </ion-tab-button>
    </ion-list>
  </div>
</ion-content>
