<ion-header>
  <ion-toolbar>
    <ion-title class="title">{{title}}</ion-title>
    <ion-buttons slot ="end">
      <ion-button (click) = "toBasket()">
        <ion-icon slot = "icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="information">
    <ion-list *ngIf="data==1||data==2">
        <ion-tab-button *ngFor="let cat of (results | async)" (click)='openArticlesWithService(cat.id,cat)' tab="articles/{{cat.id}}">
          <ion-card>
            <ion-img *ngIf="cat.image" src="https://speckalm.htl-perg.ac.at/r/storage/images/{{cat.image.savedFileName}}?{{globalService.token}}"></ion-img>
            <ion-card-content>
              {{cat.name}}
            </ion-card-content>
          </ion-card>
        </ion-tab-button>
      </ion-list>
      <ion-list *ngIf="data==3">
        <ion-tab-button>
        <ion-card>

          <ion-img src="../../../assets/img/online-store/Kalb.jpg"></ion-img>
          <ion-card-content>
            Kalb
          </ion-card-content>
        </ion-card>
      </ion-tab-button>
      <ion-tab-button>
        <ion-card>
          <ion-img src="../../../assets/img/online-store/Rind.jpg"></ion-img>
          <ion-card-content>
            Rind
          </ion-card-content>
        </ion-card>
      </ion-tab-button>
      <ion-tab-button>
        <ion-card>
          <ion-img src="../../../assets/img/online-store/Schwein.jpg"></ion-img>
          <ion-card-content>
            Schwein
          </ion-card-content>
        </ion-card>
      </ion-tab-button>
    </ion-list>
  </div>
</ion-content>
