<ion-header>
  <ion-toolbar>
    <ion-title>Kategorien</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="information">
    <ion-tab-button (click)='openArticlesWithService(1,"bacon")' tab="articles/1">
      <ion-card>
        <img src="../../../assets/img/online-store/product-view/articles/bacon.jpg">
        <ion-card-content>
          Bio-Speck
        </ion-card-content>
      </ion-card>
    </ion-tab-button>
    <ion-tab-button (click)='openArticlesWithService(2,"meat")'tab="articles/2">
      <ion-card>
        <img src="../../../assets/img/online-store/product-view/articles/meat.jpg">
        <ion-card-content>
          Bio-Frischfleisch
        </ion-card-content>
      </ion-card>
    </ion-tab-button>
  </div>
</ion-content>
