@import "../weather.page";

#iframeWetterOnline{
  margin: 0 auto;
  display: block;
  width: 95% ;
  height: 100%;

}
.table{
  width: 100%;
  height: 100%;
  margin: 00px;
  padding: 00px;
  border-collapse: inherit;
  border: 2px var(--ion-color-sa-pink);
}
.current{
  position: relative;
  margin: 0;
  top: 50%;

  transform: translateY(-70%);
}

.row{
  margin: 00px;
  padding: 00px;
  vertical-align: top;
  horiz-align: center;
  text-align: center;

}
.forecast{
  width: 30%;
  margin: 05px 05px 05px 05px;
  padding: 00% 00% 10% 0%;
  vertical-align: bottom;
  horiz-align: center;
  text-align: center;

}
.temp{
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-size:40px;
}
.description{
  padding: 0px;
  margin: 0px;
}
.currentDetail{
  margin: 20% 10% 10% 10%;
  width: 100%;

}
.pictureTD{
  horiz-align: left;
  vertical-align: top;
  width: 50%;
}
.picture{
  width: 50%;
}
.forecastTr{

  color: black;
  height: 40%;
}
td.forecast > p {
  height: 20px;
}
.forecastPicture{
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.weather{
  width:30% ;
  height: 100%;
  horiz-align: left;
  vertical-align: top;
  text-align: left;

}
.day{
  color: var(--ion-color-sa-pink);
  font-weight: bold;
}
