<ion-header>
  <ion-toolbar>
    <ion-title class="title">Wetter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="table" *ngIf="weather">
    <tr class="row" >
      <td class="current" colspan="3">
        <table class="currentDetail">
          <td class="weather">
            <p class="temp">{{weather.current.temp|number: '1.0-0'}}°<br></p>
            <p class="description">{{weather.current.weather[0].description}}</p>
            <table class="table">
              <tr>
                <td><img src="https://img.icons8.com/ios/32/000000/windsock.png"/> </td>
                <td> {{weather.current.wind_speed|number:'1.2-2'}} km/h</td>
              </tr>
            </table>
          </td>
          <td class="pictureTD">

            <ion-img class="picture"  id="currentPicture" src="http://openweathermap.org/img/wn/{{weather.current.weather[0].icon}}.png"></ion-img>
          </td>
        </table>
      </td>
    </tr>
    <tr class="forecastTr">
      <td class="forecast"  *ngFor="let day of (weather.daily) | slice:1:4">
        <p class="day">{{ toDate(day)}}<br></p>
        {{day.temp.min|number : '1.0-0'}}° / {{day.temp.max|number : '1.0-0'}}°<br>
        <ion-img id="forcastPicture" src="http://openweathermap.org/img/wn/{{day.weather[0].icon}}.png"></ion-img>
        {{day.weather[0].description}}
      </td>
    </tr>
  </table>
</ion-content>
