<ion-header>
  <ion-toolbar class="backColor">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card-center">

      <ion-card-content>
        <ion-list no-line>

          <ion-item>
            <ion-input placeholder="E-Mail" [(ngModel)]="email" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
          </ion-item>

        </ion-list>

        <ion-button expand="block" (click)="login()">Login</ion-button>

      </ion-card-content>
    </ion-card>

  <div style="display: flex; justify-content: center;">
    <button style="text-align: center" routerLink="../register">Sie haben noch keinen Account? Registrieren Sie sich</button>
  </div>

  <ion-button expand="block" class="placeBottom" color="light" routerLink="../home/news" routerDirection="root">Login Überspringen</ion-button>
</ion-content>
