<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom" selectedTab="product-view">

      <ion-tab-button  (click)="openProductViewWithService(3, 3)" tab="product-view/3">
        <ion-img src="../../assets/icon/meat.png"></ion-img>
      </ion-tab-button>

      <ion-tab-button (click)="openProductViewWithService(1,1)" tab="product-view/1">
        <ion-icon name="md-basket"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="openProductViewWithService(2,2)" tab="product-view/2">
        <ion-icon name="md-appstore"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
