<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" selectedTab="product-view">

      <ion-tab-button  (click)="openProductViewWithService(3, 3)" tab="product-view/3">
        <ion-img [src]="'https://img.icons8.com/carbon-copy/40/000000/steak-rare.png'"></ion-img>
      </ion-tab-button>

      <ion-tab-button (click)="openProductViewWithService(1,1)" tab="product-view/1">
        <img [src]="'https://img.icons8.com/carbon-copy/40/000000/farm.png'"/>
        <!--<ion-icon name="md-basket"></ion-icon>-->
      </ion-tab-button>

      <ion-tab-button (click)="openProductViewWithService(2,2)" tab="product-view/2">
        <img [src]="'https://img.icons8.com/dotty/40/000000/shop.png'"/>
        <!--<ion-icon name="md-appstore"></ion-icon>-->
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
