<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="name">
      <div style="width: 100%">
        Bestellung
        <br/>
        <div style ="font-size: small">
          Erstellt am: {{order.created_at| date: 'dd.MM.yyyy HH:mm'}}
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button slot="end" (click) = "closeModal()">
    <ion-icon slot = "icon-only" name="close"></ion-icon>
  </ion-button>
  <div style="overflow: hidden" *ngIf="order.status != 'finished'">
      <p class="PickupTag">Abholzeitpukt:</p>
      <p class="Pickup">{{order.pickup_date | date: 'dd.MM.yy, HH:mm'}}</p>
  </div>
  <p class="products">Produkte</p>
  <ion-list>
    <ion-item *ngFor="let product of (products)">
      <ion-item-sliding>
        <ion-item>
          <ion-avatar slot="start" *ngIf="product.image">
            <img src="https://speckalm.htl-perg.ac.at/r/storage/images/{{product.image.savedFileName}}" alt="Artikel">
          </ion-avatar>
          <div style="width: 100%">
            {{product.name}}
            <br/>
            <div style ="font-size: small">
              Menge:
              {{product.pivot.quantity}}
            </div>
          </div>
          <span style="text-align: right;width: 80px">{{product.price*product.pivot.quantity | number:'1.2-2'}} €</span>
        </ion-item>
        <ion-item-options side ="end">
          <ion-button color ="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item>
  </ion-list>
  <div class="center" *ngIf="order.status == 'finished'">
    <ion-button class="orderButton" (click)="addToBasket()" >Zum Warenkorb hinzufügen</ion-button>
  </div>
</ion-content>
