<ion-header>
  <ion-toolbar>
    <ion-title>Ihr Kühlschrank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-tab-button *ngFor="let cat of (results)">
          <ion-item-sliding>
            <ion-item (click)="expandItem(cat)">
                <div class="image">
                    <ion-img *ngIf="cat.image" src="https://speckalm.htl-perg.ac.at/r/storage/images/{{cat.image.savedFileName}}"></ion-img>
                </div>
                {{cat.name}}
                <br/>
                Menge: {{cat.pivot.quantity}}
                <span style="text-align: right">{{cat.price*cat.pivot.quantity}}</span>
            </ion-item>
              <ion-item-options side ="end">
                  <button color ="warning" (click)="deleteArticle(cat.id)" ion-button>
                      <ion-icon name="trash"></ion-icon>
                  </button>
              </ion-item-options>
          </ion-item-sliding>
      </ion-tab-button>
    </ion-list>
  </div>
</ion-content>
