.shoppingCartContainer {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
    justify-content: space-between;
}
.shoppingCartList {
    display: flex;
    flex-flow: column;
}
.image{
    width: 20%;
    border-radius: 100% !important;
    overflow: hidden;
    padding: 10px;
}
.expand-wrapper {
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    height: auto;
}
.collapsed {
    max-height: 0 !important;
}
.orderButton {
    display: block;
    margin: 4px;
}
.theme-bg {
    --background: var(--ion-color-sa-pink);
}
.deleteSlidingOptions {
    width: 18% !important;
    align-items: center;
    justify-content: center;
}
ion-tab-button {
    --padding-start: 0;
    --padding-end: 0;
    max-width: inherit;
}
ion-item {
    --inner-padding-top: 5px;
    --inner-padding-bottom: 5px;
}
