<ion-header>
  <ion-toolbar>
    <ion-title>Hofladen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="yardStoreContent">

  <img src="../../../assets/img/Info/HofladenHeader.jpg" id="headerImg">
  <div class="information">
    <h5 class="title">Hofladen "total regional"</h5>
    <ion-card>
      <img src="../../../assets/img/Info/yard-store/TotalRegional.jpg">
      <ion-card-content>
        Unsere hofeigenen Bio-Produkte gibt es im Hofladen "total regional" zum Mitnehmen.
        Mehrmals im Jahr gibt es auf Vorbestellung Bio-Frischfleisch vom Weideschwein, Kalb und Jungrind.
        Die wichtigsten Einkaufskriterien sind neben Bio saisonal, regional und beste Qualität.
        Daher gibt es bei uns im Hofladen "total regional" auch erlesene Produkte heimischer Bauern.
        Damit unterstützen wir die biologische Landwirtschaft.
        Einkaufsmöglichkeit während unserer Öffnungszeiten, DO-SO ab 14.00 Uhr.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>Jause für daheim</ion-card-header>
      <ion-card-content>
        Als willkommene Abwechslung bieten wir euch jede Art von Jausenbuffets und unseren “Sautrog” als köstliche Mahlzeit für eure Feier zu Hause an.
        Unsere sauguaten Bio Produkte schmecken alt und jung.
        Mit einer Speck-Alm Jausenplatte punktest du bei deinen Gästen ganz bestimmt. :)
        Vorbestellung unter 07266/6261
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>Speck-Alm Bio Produkte</ion-card-header>
      <ion-card-content>
        <ion-slides [options]="slideOptsOne">
          <ion-slide *ngFor="let img of sliderImages" class="diashow">
            <ion-img src="{{img}}"></ion-img>
          </ion-slide>
        </ion-slides>
        Alle unsere Produkte stammen aus eigener biologischer Landwirtschaft und werden am Hof zu den leckeren Köstlichkeiten verarbeitet.
        So können wir für beste Qualität garantieren.
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
