<ion-content>

  <ion-img [src]="'https://speckalm.htl-perg.ac.at/r/storage/images/'+item.image.savedFileName"></ion-img>

  <ion-header>
    <ion-toolbar>
      <ion-title>{{item.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    <ion-label [innerHTML]="item.description"></ion-label>
  </ion-card-content>

  <ion-toolbar class="bottomClass">
    <ion-item>
      <ion-label>von {{item.author.prename}} {{item.author.surname}}</ion-label>
      <ion-datetime disabled value="{{item.updated_at}}" display-timezone="utc"></ion-datetime>
    </ion-item>
  </ion-toolbar>
</ion-content>


