
<ion-menu side="start" menuId="navigation" content-id="navigationContent">
  <ion-content id="navigationContent">
    <ion-card>
      <div *ngIf="imageData.isOpen; else isClosed">
        <ion-img [src]="imageData.srcOpen"></ion-img>
      </div>
      <ng-template #isClosed>
        <ion-img [src]="imageData.srcClosed"></ion-img>
      </ng-template>
    </ion-card>

    <ion-list>
      <ion-item lines="full" [ngClass]="{'active' : isActive[0]}">News und Veranstaltungen</ion-item>
      <ion-item lines="full" [ngClass]="{'active' : isActive[1]}">Wetter</ion-item>
      <ion-item lines="full" [ngClass]="{'active' : isActive[2]}">Social Media</ion-item>
      <ion-item lines="full" [ngClass]="{'active' : isActive[3]}">Witziges</ion-item>
      <ion-item lines="none" [ngClass]="{'active' : isActive[4]}">Über uns</ion-item>
    </ion-list>

    <ion-list class="ion-no-padding fixed-bottom">
      <ion-item lines="full" [ngClass]="{'active' : isActive[5]}">Online-Shop</ion-item>
      <ion-item lines="full" [ngClass]="{'active' : isActive[6]}">Tischreservierung</ion-item>
      <ion-item lines="full" [ngClass]="{'active' : isActive[7]}">Meine Statistiken</ion-item>
      <ion-item lines="full" class="dark">Logout</ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

