
<ion-menu side="start" type="overlay" content-id="navigationContent">
  <ion-content id="navigationContent">
    <ion-card>
      <div *ngIf="imageData.isOpen; else isClosed">
        <ion-img [src]="imageData.srcOpen"></ion-img>
      </div>
      <ng-template #isClosed>
        <ion-img [src]="imageData.srcClosed"></ion-img>
      </ng-template>
    </ion-card>

    <ion-list>
      <ion-button (click)="navigate('home')" [ngClass]="{'active':this.router.url.split('/')[1]=='home'}" expand="full" size="large" fill="clear"><span class="ion-text-left">News und Veranstaltungen</span></ion-button>
      <ion-button (click)="navigate('weather')" [ngClass]="{'active':this.router.url.split('/')[1]=='weather'}" expand="full" size="large" fill="clear"><span class="ion-text-left">Wetter</span></ion-button>
      <ion-button (click)="navigate('socialMedia')" [ngClass]="{'active':this.router.url.split('/')[1]=='socialMedia'}" expand="full" size="large" fill="clear"><span class="ion-text-left">Social Media</span></ion-button>
      <ion-button (click)="navigate('jokes')" [ngClass]="{'active':this.router.url.split('/')[1]=='jokes'}" expand="full" size="large" fill="clear"><span class="ion-text-left">Witziges</span></ion-button>
      <ion-button (click)="navigate('info')" [ngClass]="{'active':this.router.url.split('/')[1]=='info'}" expand="full" size="large" fill="clear"><span class="ion-text-left">Über uns</span></ion-button>
    </ion-list>

    <ion-list class="ion-no-padding fixed-bottom">
      <ion-button (click)="navigate('shopping-basket')" [ngClass]="{'active':this.router.url.split('/')[1]=='shopping-basket'}" expand="full" size="large" fill="clear"><span class="ion-text-left">Kühlschrank</span></ion-button>
      <ion-button (click)="navigate('online-store')" [ngClass]="{'active':this.router.url.split('/')[1]=='online-store'}" expand="full" size="large" fill="clear"><span class="ion-text-left">Bestelliste</span></ion-button>
      <ion-button (click)="navigate('reservation')" [ngClass]="{'active':this.router.url.split('/')[1]=='reservation'}" expand="full" size="large" fill="clear"><span class="ion-text-left">Tischreservierung</span></ion-button>
      <ion-button (click)="navigate('statistics')" [ngClass]="{'active':this.router.url.split('/')[1]=='statistics'}" expand="full" size="large" fill="clear"><span class="ion-text-left">Meine Statistiken</span></ion-button>
      <ion-button (click)="navigate('login')" [ngClass]="{'active':this.router.url.split('/')[1]=='login'}" class="dark" expand="full" size="large"><span *ngIf="global.getToken(); else elseBlock" class="ion-text-left">Logout</span><ng-template  #elseBlock><span class="ion-text-left">Login</span></ng-template></ion-button>
    </ion-list>
  </ion-content>

</ion-menu>
