ion-title{
  color: var(--ion-color-sa-green);
  font-weight: bold;
}
.status{
  font-size: 10px;
}
.addToCart{
  --background: var(--ion-color-sa-pink);
  display: block;
  margin: 20px 10px 5px 10px;
}
.amount{
  font-size: 14px;
  padding: 0;
  margin: 0;
}
ion-select {
  --placeholder-color: #4a4a4a;
  --padding-start: 10px;
  width: 100%;
}
app-quantity-input {
  width: 100%;
}
.title{
  color: var(--ion-color-sa-pink);
  padding: 0 0 10px 0;
  font-weight: bold;
  font-size:20px;
}
#headerImg {
  margin: 0 0 -25px 0;
  position: fixed;
  border-radius: 0 0 10px 10px !important;
  overflow: hidden;
}
.information {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 200px;
  border-radius: 5px 5px 0 0;
  background-color: transparent;
}
.card{
  background-color: white;
}
.partitionInput {
  display: flex;
}
