<ion-header>
  <ion-toolbar>
    <ion-title>{{item.name}}</ion-title>
      <ion-buttons slot ="end">
        <ion-button (click) = "closeModal()">
          <ion-icon slot = "icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="information">
    <ion-card>
      <img src="../../../assets/img/online-store/product-view/articles/meat.jpg">
      <ion-card-content>
        {{item.description}}
        <p class="price">Preis pro Kg: {{item.price}}</p>
      </ion-card-content>
      <ion-item>
        <ion-label color="primary" floating>Menge</ion-label>
        <ion-input type="number"  [(ngModel)]="amount" ></ion-input>
      </ion-item>
      <ion-button (click)="addToCart()">in den Warenkorb</ion-button>
    </ion-card>
  </div>

</ion-content>
