ion-title{
  color: var(--ion-color-sa-green);
  font-weight: bold;
}
.price{
  font-size: 16px;
  font-weight: bold;
  display:inline
}
.status{
  font-size: 10px;
  display:inline
}
.center {
  margin: 0;
  position: absolute;

  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.addToCart{
  --background: var(--ion-color-sa-pink);
}
.amount{
  font-size: 14px;
  padding: 0;
}

.amountBar{
  --height: 10pt;
  --bar-background: var(--ion-color-sa-dark);
  --knob-background: var(--ion-color-sa-pink);
  --bar-background-active: var(--ion-color-sa-pink);
}
