<ion-header>
  <ion-toolbar>
    <ion-title>{{item.name}}</ion-title>
      <ion-buttons slot ="end">
        <ion-button (click) = "closeModal()">
          <ion-icon slot = "icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="information">
    <ion-card>
      <ion-img *ngIf="item.image_id" src="https://speckalm.htl-perg.ac.at/r/storage/images/{{item.image_id}}?{{dataService.token}}"></ion-img>
      <ion-card-content>
        {{item.description}}
        <br/><br/>
        <p class="price" style="display:inline">€ {{item.price}}</p>
        <p class="status" style="display:inline"> {{item.status}}</p>
        <br/>
        <ion-item>
          <ion-label class="amount">Menge: </ion-label>
          <ion-input class="amount" type="number"  [(ngModel)]="amount" ></ion-input>
        </ion-item>

        <ion-item>
          <div class="center">
            <ion-button class="addToCart" (click)="addToCart()">in meinen Kühlschrank</ion-button>
          </div>
        </ion-item>

      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
