<ion-img src="../../../assets/img/Events/eventdefault.jpg"></ion-img>



<ion-content>
  <ion-header>

    <ion-toolbar>

      <ion-title>Eventdetails</ion-title>
      <ion-buttons slot="end">
        <ion-button color="white" (click)="favBtnClicked()">
          <ion-icon slot="icon-only" [name]="getIcon()" color="dark" ></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-datetime [contentEditable]="false" displayFormat="MM/DD/YYYY HH:mm:ss" value="1994-12-15T13:47:20.789" disabled="true"></ion-datetime>

  <ion-card-content>
    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
  </ion-card-content>
</ion-content>
