<ion-img [src]="'../../../assets/img/Events/eventdefault.jpg'"></ion-img>

<ion-content>
  <ion-header>

    <ion-toolbar>

      <ion-title>{{item.name}}</ion-title>
      <ion-buttons slot="end">
        <ion-button color="white" (click)="favBtnClicked()">
          <ion-icon slot="icon-only" [name]="getIcon()" color="dark" ></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-card-content>{{item.description}}</ion-card-content>

  <ion-list lines="none" class="bottomClass">
    <ion-item>
      <ion-datetime displayFormat="MM.DD.YYYY" value="{{item.day}}" disabled="true"></ion-datetime>
      <ion-datetime displayFormat="HH:mm" value="{{item.startTime}}" disabled="true"></ion-datetime>
      <ion-item>-</ion-item>
      <ion-datetime displayFormat="HH:mm" value="{{item.endTime}}" disabled="true"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
