<ion-header>
  <ion-toolbar class="backColor">
    <ion-title>Bauernregel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="jokes">
  <ion-slides options={jokeList} >
    <ion-slide *ngFor="let joke of jokeList">
      <ion-card>
        <ion-card-content>
          <ion-img src="../../assets/img/bauer.jpg"></ion-img>
        </ion-card-content>
        <h3>{{joke.content}}</h3>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div class="slideImg">
    <ion-img src="../../assets/img/slide.jpg"></ion-img>
  </div>

</ion-content>
