ion-slides{
  ion-slide {
    ion-card{
      height: 420px;
      width: 100%;
    }
  }
}

.slideImg {
  height: 50px;
  width: 50px;
  margin: auto;
  text-align: center;
}

.slideImg {
  animation: disappear 0s linear 5s forwards;
}
@keyframes disappear {
  to {opacity:0;}
}


