<ion-header>
  <ion-toolbar>
    <ion-title>Bauernregel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-label>{{jokes.content}}</ion-label>
      <ion-img src="../../assets/img/bauer.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

  <!--<ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-content>
              <ion-label>Zurück</ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-content>
              <ion-label>Nächster</ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>-->
</ion-content>
