<ion-header no-border>
  <ion-toolbar class="toolbar">
      <label class="name">Meine Statistiken</label>

      <div class="div">
          <table class="table" >
              <tr class="row" >
                  <td class="picture" colspan="1">
                      <img  src="../../assets/img/statistics/ProfilePic.png"/>
                  </td>
                  <td class="text" *ngIf="user!=undefined">
                      {{user.prename}} {{user.surname}}
                  </td>
              </tr>
          </table>
      </div>
      <div class="buttonDiv">
          <ion-button class="button" (click)="toShoppingBasket()">
              zum Warenkorb
          </ion-button>
      </div>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" class="ion-padding-bottom">
        <ion-slide>
            <div class="fullwidth">
                <p *ngIf="currentOrders" class="orders">Aktuelle Bestellungen</p>
                <ion-list class="list">
                    <ion-tab-button class="item" *ngFor="let order of currentOrders">
                        <ion-item-sliding >
                            <ion-item  (click)="openModal(order)">
                                <div style="width: 100%">
                                    {{order.pickup_date| date: 'dd.MM.yyyy'}}
                                    <br/>
                                    <div class="productDiv">
                                        Produkte:
                                        {{order.products_count}}
                                    </div>
                                </div>

                                <span style="text-align: right;width: 80px">{{order.price_sum | number:'1.2-2'}} €</span>
                            </ion-item>
                        </ion-item-sliding>
                    </ion-tab-button>
                </ion-list>
                <p *ngIf="orders" class="orders">Frühere Bestellungen</p>
                <ion-list class="list">
                    <ion-tab-button class="item" *ngFor="let order of orders">
                        <ion-item-sliding>
                            <ion-item  (click)="openModal(order)">
                                <div style="width: 100%">
                                    {{order.pickup_date| date: 'dd.MM.yyyy'}}
                                    <br/>
                                    <div class="productDiv" >
                                            Produkte:
                                            {{order.products_count}}

                                    </div>
                                </div>

                                <span style="text-align: right;width: 80px">{{order.price_sum | number:'1.2-2'}} €</span>
                            </ion-item>
                        </ion-item-sliding>
                    </ion-tab-button>
                </ion-list>
            </div>

        </ion-slide>

        <ion-slide>
            <div class="tableStats">
                <div *ngFor="let s of statistics; index as i" [style]="'background-color: ' + statisticColors[i]" class="statistic">
                    <div class="statistic-name">{{s.name}}</div>
                    <div class="statistic-value" [ngClass]="s.value.length > 8 ? 'x-long' : s.value.length > 5 ? 'long' : ''">{{s.value}}</div>
                </div>
            </div>
        </ion-slide>

    </ion-slides>
</ion-content>
